<div class="text-center">
  <% if order.status == 0%>
  <div class="d-flex justify-content-around align-items-center">
    <p><i class="fa-sharp fa-solid fa-circle" style="color:orange; font-size: 20px"></i> Attente de validation</p>
    <%= link_to validate_path(order, order: {status: 1}), method: :patch, class: 'btn btn-outline-dark text-center text-decoration-none' do %>
       <span> Valider la commande </span> <i class="fa-solid fa-cart-shopping" style='font-size: 20px'></i>
    <% end %>
  </div>
  <% elsif order.status == 1%>
    <p class='text-center'style="font-size: 20px"><i class="fa-sharp fa-solid fa-circle" style="color:Green; font-size: 20px"></i> Validé au fournisseur</p>
    <p>Date de livraison: <%= order.planned_delivery_date.strftime('%d/%m/%Y') %></p>
  <% end %>
</div>
