<div class='dashboard-container'>

 <%= render 'shared/nav_dashboard' %>


  <div class=" flex-grow-1" style='height: 650px margin-bottom:120px;'>
    <h2 class="text-center">Vos commandes fournisseurs en cours</h2>
    <% @orders.each do |order| %>
      <% if order.client.nil? %>
        <%= render partial:"shared/card_order", locals: {order: order} %>
      <% end %>
    <% end %>
  </div>
</div>
