
<div class='dashboard-container d-flex'>

 <div class="border-end" style="width:200px">
  <%= render 'shared/sidebar' %>
 </div>


  <div class="container" style="margin-left 20px;">
    <h2><strong class="count" ><%= @missing_products.count %></strong> produits à réapprovisionner </h2>
    <br>
    <div class="row">
      <% @products.each do |product| %>
        <% if (product.order_lines.count > 0 && product.order_lines.last.order.planned_delivery_date <= Date.today) || product.order_lines.count.zero? %>
          <div class="col-6">
              <li class="list-group-item">
                <%= render partial: 'shared/card_product', locals: {product: product}  %>
              </li>
          </div>
        <% end %>
      <% end %>

      <% if @missing_products.count == 0 %>

        <h3 > Bravo ! Aucune rupture à l'horizon !</h3>
        <div>
        <br>
          <%= link_to "Je valide mes commandes fournisseurs", orders_path, class: 'btn btn-dark demo-btn-orders'%>
        </div>
      <% end %>
    </div>
  </div>

</div>
