<div class="d-flex" >
  <div class="border" style='width: 350px; height: 650px'>
    <div class="border my-2"> Produit </div>
    <div class="border"> Commande Client </div>
    <div class="border my-2"> Commande Fournisseurs </div>
  </div>
  <div class="border flex-grow-1" style='height: 650px'>
    <div class="card-product my-2">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
  </div>
</div>
