
<div class='dashboard-container'>

 <%= render 'shared/nav_dashboard' %>

 <div class="container">
  <h2 class="text-center">Réapprovisionnez vos produits en rupture de stock</h2>
    <div class="row">
      <% @products.each do |product| %>
        <% if (product.order_lines.count > 0 && product.order_lines.last.order.planned_delivery_date <= Date.today) || product.order_lines.count.zero? %>
          <div class="col-6">
            <div class="container">
              <li class="list-group-item">
                <%= render partial: 'shared/card_product', locals: {product: product}  %>
              </li>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if @missing_products.count == 0 %>
        <h3 class='text-center'>Bravo ! Aucune rupture à l'horizon !</h3>
        <div class="text-center mt-5">
          <%= link_to "Commandes fournisseur", orders_path, class: 'btn btn-dark'  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
