
<%# CAROUSEL %>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner text-center">
    <div class="carousel-item active" style="background-image: url(https://images.unsplash.com/photo-1616401784845-180882ba9ba8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)">
      Livrez 100% de vos clients...
    </div>
    <div class="carousel-item text-center" style="background-image: url(https://images.unsplash.com/photo-1622030411594-c282a63aa1bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)">
      ...en anticipant vos commandes fournisseurs...
    </div>
    <div class="carousel-item text-center" style="background-image: url(https://images.unsplash.com/photo-1622127739239-1905bbaa21b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1933&q=80)">
      ... en quelques clics !
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<%# # BLOC 3 BLOCS %>
<section class="text-center three-blocks">
          <div class="container">
            <div class="row mt48 mb48">
              <div class="col-md-4 mt48 mb48">
                <i class="fa-solid fa-cubes"></i>
                <h5>Voyez d'un seul coup d'oeil vos stocks</h5>
                <p>Grâce à votre tableau de bord, vous pourrez visualiser les produits nécessitant un réapprovisionnement pour honorer votre portefeuille de commandes</p>
              </div>
              <div class="col-md-4 mt48 mb48">
                <i class="fa-solid fa-truck-fast"></i>
                <h5>Livrez davantage de commandes</h5>
                <p>Anticiper vos commandes fournisseurs vous permettra d'avoir moins de manquants dans vos commandes clients - et boostera ainsi votre chiffre d'affaire</p>
              </div>
              <div class="col-md-4 mt48 mb48">
                <i class="fa-solid fa-arrow-trend-up"></i>
                <h5>Augmentez la satisfaction clients</h5>
                <p>Générez automatiquement des alertes à vos clients si malgré vos commandes certains produits n'arrivent pas, leur offrant la possibilité de modifier leur commande. Un client alerté en vaut 2 !</p>
              </div>
            </div>
          </div>
        </section>


<%# BANNER %>
<%= content_for(:navbar_class, "navbar-home") %>
<div class="banner">
  <div class="banner-content text-center">
    <h2>Pilotez vos stocks et boostez votre business grâce à Logistip </h2>
      <% if user_signed_in? %>
        <%= link_to "Je veux une démo !", dashboard_path, class: "btn btn-danger"  %>
      <% else %>
        <%= link_to "Je veux une démo !", new_user_session_path, class: "btn btn-danger"  %>
      <% end %>
  </div>
</div>
<br>
<br>
<br>
