.card-product {
  overflow: hidden;
  height: 280px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 215px;
  object-fit: cover;
  position: relative;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.quantity {
  width:156px;
  height:32px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.ribbon {
  -webkit-transform: rotate(+45deg);
    //  -moz-transform: rotate(-45deg);
    //   -ms-transform: rotate(-45deg);
    //    -o-transform: rotate(-45deg);
          transform: rotate(+225deg);
    border: 25px solid transparent;
    border-top: 25px solid $max-yellow;
    position: absolute;
    top:28px;
    right: -47px;
    left: 62px;
    padding: 0 10px;
    width: 200px;
    color: black;
    size: 20px;
    align-items: center;
}
.ribbon .txt {
    position: absolute;
    top: -25px;
    left: 33px;
    transform: rotate(+180deg);
    font-weight: bolder;
}
