.card-order {
  overflow: hidden;
  height: 256px;
  background: white;
  box-shadow: 0 0 15px #00000033;
  display: flex;
  // align-items: center;
}

.card-order img {
  height: 100%;
  width: 240px;
  object-fit: cover;
}

.card-order h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-order p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-order-infos {
  padding: 16px;
}

.orange-ribbon{
  -webkit-transform: rotate(+45deg);
    //  -moz-transform: rotate(-45deg);
    //   -ms-transform: rotate(-45deg);
    //    -o-transform: rotate(-45deg);
          transform: rotate(+225deg);
    border: 25px solid transparent;
    border-top: 25px solid $orange;
    position: absolute;
    top:28px;
    right: -47px;
    left: 87px;
    padding: 0 10px;
    width: 200px;
    color: black;
    size: 20px;
    align-items: center;
}

.green-ribbon{
  -webkit-transform: rotate(+45deg);
    //  -moz-transform: rotate(-45deg);
    //   -ms-transform: rotate(-45deg);
    //    -o-transform: rotate(-45deg);
          transform: rotate(+225deg);
    border: 25px solid transparent;
    border-top: 25px solid $pistachio;
    position: absolute;
    top:28px;
    right: -47px;
    left: 87px;
    padding: 0 10px;
    width: 200px;
    color: black;
    size: 20px;
    align-items: center;
}

.orange-ribbon .txt{
  position: absolute;
  top: -25px;
  left: 40px;
  transform: rotate(+180deg);
  font-weight: bolder;
}

.green-ribbon .txt{
  position: absolute;
  top: -25px;
  left: 15px;
  transform: rotate(+180deg);
  font-weight: bolder;
}
