.vignette {
    border: 1px solid #ddd;
    padding: 8px;
    display: inline-block;
    margin-bottom: 12px;
    margin: 5px;
    width: 100px;
    height: 70px;
    border-radius: 18px;
    text-align: center;
    vertical-align: top;
    font-size: 12px;
    box-shadow: 3px 3px 20px #ddd;
}
